<div class="text-right">
  <div class="btn-group">
    <div class="dropdown d-inline-block border-right">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        £ | UK | <span class="flag UK"></span><span class="caret"></span>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item btn btn-blank" href="#">£ | UK | <span class="flag UK"></span></a>
        <a class="dropdown-item btn btn-blank" href="#">$ | US | <span class="flag US"></span></a>
        <a class="dropdown-item btn btn-blank" href="#">€ | FR | <span class="flag FR"></span></a>
        <a class="dropdown-item btn btn-blank" href="#">€ | DE | <span class="flag DE"></span></a>
        <a class="dropdown-item btn btn-blank" href="#">€ | NL | <span class="flag NL"></span></a>
      </div>
    </div>

    <div class="d-inline-block border-right">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          English<span class="caret"></span>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item btn btn-blank" href="#">English</a>
          <a class="dropdown-item btn btn-blank" href="#">English (US)</a>
          <a class="dropdown-item btn btn-blank" href="#">Français</a>
          <a class="dropdown-item btn btn-blank" href="#">Deutsch</a>
          <a class="dropdown-item btn btn-blank" href="#">Nederlands</a>
        </div>
      </div>
    </div>
  </div>
</div>



