<form [formGroup]="searchForm">
    <div class="col-xs-9 pull-right">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-sm" formControlName="searchInput" placeholder="Part Number or Keyword Search" (keyup)="searchTerm($event.target.value)" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fab fa-sistrix"></i></button>
            </span>
        </div>
    </div>
</form>


<div *ngIf="term">
   
    <div class="search-popup faux-pop">
        <div class="arrow"></div>
        <h5>Part Suggestions for: {{term}}</h5>
        <div class="list-group">
            <part-result [result]="product" *ngFor="let product of results"></part-result>
        </div>
    </div>

    
    <!--
    <ng-container class="results-table" *ngIf="results; else loading">
        <div class="list-group">
            
        </div>
    </ng-container>

    <ng-template #loading>
        <div class="alert">
            <i class="fas fa-cog fa-spin"></i> Loading
        </div>
    </ng-template>   
      -->
</div>      