<div class="btn-group">
    <div class="dropdown d-inline-block border-right">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &pound; | UK | <span class="flag UK"></span><span class="caret"></span>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item btn btn-blank" href="#">&pound; | UK | <span class="flag UK"></span></a>
            <a class="dropdown-item btn btn-blank" href="#">&#36; | US | <span class="flag US"></span></a>
            <a class="dropdown-item btn btn-blank" href="#">&euro; | FR | <span class="flag FR"></span></a>
            <a class="dropdown-item btn btn-blank" href="#">&euro; | DE | <span class="flag DE"></span></a>
            <a class="dropdown-item btn btn-blank" href="#">&euro; | NL | <span class="flag NL"></span></a>
        </div>
    </div>
</div>
