<form [formGroup]="searchForm">
    <div [ngClass]="columns">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-sm" formControlName="searchInput" [placeholder]="placeholder ? placeholder : ''" (keyup)="searchTerm$.next($event.target.value)" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fab fa-sistrix"></i></button>
            </span>
        </div>
    </div>
</form>
<div *ngIf="results" style="background-color: #fff; position: sticky;">
    <p *ngFor="let product of results">
        {{product.partNumber}}
    </p>
</div>
