<div class="btn-group">
    <div class="d-inline-block border-right">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                English<span class="caret"></span>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                <a class="dropdown-item btn btn-blank" href="#">English</a>
                <a class="dropdown-item btn btn-blank" href="#">English (US)</a>
                <a class="dropdown-item btn btn-blank" href="#">Fran&ccedil;ais</a>
                <a class="dropdown-item btn btn-blank" href="#">Deutsch</a>
                <a class="dropdown-item btn btn-blank" href="#">Nederlands</a>
            </div>
        </div>
    </div>
</div>
